node_modules
.pnpm-store
dist
.env
.env.local
.firebase
*.log
.scaffold
tmp
src/assets
!src/assets/
src/assets/*
!src/assets/chungcheongnamdo.png
!src/assets/chungnam-education-office.png
!src/assets/chungnam-social-service.png
!src/assets/yesan-youth-center.png
public/favicon.svg
public/icons.svg
